<!-- app/views/items/_form.html.erb -->
<%= form_with(model: item, local: true) do |form| %>
  <div class="input-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="input-field">
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: 'Select a Category' }, class: 'browser-default' %>
  </div>

  <div class="input-field">
    <%= form.check_box :comprado, class: 'filled-in item-checkbox', data: { 'item-id': item.id }, onchange: 'this.form.submit()' %>
  </div>

  <%= form.label :price %>
  <%= form.number_field :price, id: 'item_price' %>

  <%= form.label :total_value, 'Total Value' %>
  <%= form.text_field :total_value, readonly: true, disabled: true, id: 'item_total_value' %>

  <div class="actions">
    <%= form.submit 'Create', class: 'btn waves-effect waves-light btn-white-text' %>
  </div>
<% end %>
