<!-- app/views/items/_form.html.erb -->
<%= form_with(model: item, local: true) do |form| %>
  <div class="input-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="input-field">
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: 'Selecione uma categoria' }, class: 'browser-default' %>
  </div>

  <div class="input-field">
    <%# <%= form.label :comprado, 'Comprado' %>
    <%#= form.check_box :comprado, class: 'filled-in item-checkbox', data: { 'item-id': item.id }, onchange: 'this.form.submit()' %>
    <%#= form.label :comprado, 'Comprado', class: 'checkbox-label' %> %>
  </div>

  <%= form.label :price %>
  <%= form.number_field :price, step: '0.01', id: 'item_price' %>

  <%= form.label :total_value, 'Total Value' %>
  <%= form.text_field :total_value, readonly: true, disabled: true, id: 'item_total_value' %>

  <div id="totalValueSection">
    <strong>Total Value:</strong> <%= number_to_currency(@item.total_value) if @item.total_value.present? %>
  </div>

  <div class="actions">
    <%= form.submit 'Create', class: 'btn waves-effect waves-light btn-white-text' %>
  </div>
<% end %>
