<!-- app/views/items/show.html.erb -->
<div class="row">
  <h1 class="col s12">Item Details</h1>

  <div class="col s12 m6">
    <p><strong>name:</strong> <%= @item.name %></p>
    <p><strong>quantity:</strong> <%= @item.quantity %></p>
    <p><strong>category:</strong> <%= @item.category.name if @item.category.present? %></p>
    <p><strong>purchased:</strong> <%= @item.purchased ? 'Purchased' : 'Not Purchased' %></p>
    <p><strong>Price:</strong> <%= @item.price %></p
    <p><strong>Total purchase price:</strong> <%= @item.total_value %></p>
  </div>

  <div class="col s12 m6">
    <%= link_to 'Edit', edit_item_path(@item), class: 'btn waves-effect waves-light btn-white-text' %>
    <%= link_to 'Back', items_path, class: 'btn waves-effect waves-light btn-white-text' %>
  </div>
</div>
